/* typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: 500 !important;
    line-height: 1.5 !important;
}

#header-ico {
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 50px 0 !important;
}

section h2{
    font-size: 2.5em;
}

section.download h2 {
    font-size: 2.5em;
}

section.questions {
    background:#efeded;
}

section.terms {
    padding: 0px !important;
}

section.cta .cta-content {
    padding: 4em 0em;
    min-height: 25em;
}

section.cta .cta-content h2 {
    max-width: 30%;
    font-size: 2.5em; 
}

section.features .section-heading {
    margin-bottom: 50px;
}

section.contact ul.list-social li.social-instagram a {
    background-color: #DD2A7B
}

section.companies img{
    max-width: 50%;
}

section.companies .list-inline-item {
    width: 18%;
}

section.companies .list-inline-item:not(:last-child) {
    margin-right: 2px !important;
}

/* princing */
section.pricing {
    background: #7b4397;
    background: linear-gradient(to left, #7b4397, #dc2430);
  }

  .pricing .row > h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif !important;
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing .row > hr {
    margin: 1.5rem 0;
    max-width: 100%;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }

  .pricing .btn.cursor-normal{
    cursor: default !important;
   }

  .pricing .section-buttons .btn-group {
      min-width: 35%;
  }

  .pricing .section-buttons .btn.btn-anual, 
  .pricing .section-buttons .btn.btn-mensal {
        color: #fff;
        opacity: 1;
    }

  .pricing .section-buttons .btn {
      cursor: pointer !important;
  }

  .pricing .section-buttons .btn.btn-anual {
      border-radius: 0px 5px 5px 0px;
  }

  .pricing .section-buttons .btn.btn-mensal {
    border-radius: 5px 0px 0px 5px;
}

/* testimonials */
section.testimonials {
    min-height: auto;
}

section.testimonials .row{
    min-height: 180px;
}

.testimonials .card {
    position: relative;
    border: solid 1px #212121;
    padding: 45px 50px 25px 60px;
    /* margin-top: 200px; */
    background-color: #212121;
    border-radius: 10px;
    color: #fff
}

.post-txt {
    font-size: 20px;
    margin-bottom: 0
}

.quote-img {
    position: absolute;
    top: 32px;
    left: 25px;
    width: 30px;
    height: 30px
}

.nice-img {
    width: 20px;
    height: 25px;
    margin-bottom: 7px
}

.arrow-down-left {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #212121;
    margin-left: 85px
}

.arrow-down-right {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #212121;
    margin-left: calc(100% - 130px);
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.profile-pic{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-top: 15px
}

.profile-pic.left {
    left: 65px;
}

.profile-pic.right {
    left: calc(100% - 175px);
}

.profile-name {
    position: absolute;
    font-size: 22px;
    margin-top: 60px;
    color: #616161
}

.profile-name.left {
    left: 210px;
}

.profile-name.right {
    right: 210px;
}

/* colors */
.color-white  { color: #fff !important }
.color-black  { color: #212529 !important }
.color-purple { color: #7b4397 !important }
.color-yellow { color: #fdca4b !important }

.bg-black  { background-color: #212529 !important }
.bg-purple { background-color: #7b4397 !important }
.bg-yellow { background-color: #fdca4b !important }


/* custom css */

.btn-outline-pink {
    color: #7b4397;
    border: 1px solid;
    border-color: #7b4397;
}

.btn-outline-yellow {
    color: #fdca4b;
    border: 1px solid;
    color: #fdca4b;
    border-color: #fdca4b;
}

.btn-yellow {
    color: #fff;
    border-color: #fdca4b;
    background-color: #fdca4b;

}

.btn-outline-pink:hover, 
.btn-outline-pink:focus, 
.btn-outline-pink:active, .btn-outline-pink.active {
    color: #fff;
    border-color: #7b4397;
    background-color: #7b4397;
}

.btn-outline-yellow:hover, 
.btn-outline-yellow:focus, 
.btn-outline-yellow:active, 
.btn-outline-yellow.active {
    color: #fff;
    border-color: #fdcb4f;
    background-color: #fdcb4f;
}

.mark-title {
    margin-top: 50px;
    padding: 0em .2em;
    background-color: #fdcb4f;
}

.download .precos {
    font-family: Arial, Helvetica, sans-serif;
}

.guarantee .text-guarantee {
    max-width: 80%;
}

.guarantee .text-guarantee p {
    font-size: 22px;
}

.thanks h2 i, .sucsess h2 i {
        color: #dd4b39;
}

/* checkmark */
.checkmark-circle {
    width: 130px;
    height: 130px;
    position: relative;
    display: inline-block;
    vertical-align: top; 
}

.checkmark-circle .background {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #2EB150;
    position: absolute; 
}

.checkmark-circle .checkmark {
    border-radius: 5px; 
}

.checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; 
}

.checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-radius: 2.5px !important;
    content: '';
    left: 25px;
    top: 75px;
    position: absolute; 
}

@-webkit-keyframes checkmark {
0% {
    height: 0;
    width: 0;
    opacity: 1; }
20% {
    height: 0;
    width: 37.5px;
    opacity: 1; }
40% {
    height: 75px;
    width: 37.5px;
    opacity: 1; }
100% {
    height: 75px;
    width: 37.5px;
    opacity: 1; } }

@-moz-keyframes checkmark {
0% {
    height: 0;
    width: 0;
    opacity: 1; }
20% {
    height: 0;
    width: 37.5px;
    opacity: 1; }
40% {
    height: 75px;
    width: 37.5px;
    opacity: 1; }
100% {
    height: 75px;
    width: 37.5px;
    opacity: 1; } }

@keyframes checkmark {
0% {
    height: 0;
    width: 0;
    opacity: 1; }
20% {
    height: 0;
    width: 37.5px;
    opacity: 1; }
40% {
    height: 75px;
    width: 37.5px;
    opacity: 1; }
100% {
    height: 75px;
    width: 37.5px;
    opacity: 1; } 
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  /* background-color: #ccc; */
}

/* Countdown */

#countdown {
	margin: 30px 0 10px;
	line-height: 1;
}

#countdown > div {
	display: inline-block;
	margin: 0 35px 10px;
}

#countdown > div > div {
	padding: 0 5px;
	/* margin-bottom: 10px; */
	font-size: 80px;
}

#countdown > div > i {
	font-style: normal;
	text-transform: uppercase;
}

/* grayscale logos */
.grayscale-logo {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: .6;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    transition: .6s;
}
 
.grayscale-logo:hover {
    filter: grayscale(0%);
    opacity: 1;
}